.preparation {
    background: var(--rose50);
    padding: 20px;
    margin: 25px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preparation ul, .receita ol {
    list-style-position: outside;
    padding: 10px 20px 0 20px;
}

.preparation ul li {
    padding: 5px 15px;
}
.preparation ul li::marker{
    font-size: 12px;
    color: var(--brown800);
    margin-right: 10px;
}